Totality.Client.ClientComponents/Service References/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Transmitter" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ITransmitterService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Totality.Model" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Totality.Model.Diplomatical" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITransmitterService_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="ITransmitterService_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="ITransmitterService_AddOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:AddOrders" />
  </wsdl:message>
  <wsdl:message name="ITransmitterService_AddOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="ITransmitterService_ShootDownNuke_InputMessage">
    <wsdl:part name="parameters" element="tns:ShootDownNuke" />
  </wsdl:message>
  <wsdl:message name="ITransmitterService_ShootDownNuke_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShootDownNukeResponse" />
  </wsdl:message>
  <wsdl:message name="ITransmitterService_DipMsg_InputMessage">
    <wsdl:part name="parameters" element="tns:DipMsg" />
  </wsdl:message>
  <wsdl:message name="ITransmitterService_DipMsg_OutputMessage">
    <wsdl:part name="parameters" element="tns:DipMsgResponse" />
  </wsdl:message>
  <wsdl:message name="ITransmitterService_GetCountryData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCountryData" />
  </wsdl:message>
  <wsdl:message name="ITransmitterService_GetCountryData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCountryDataResponse" />
  </wsdl:message>
  <wsdl:message name="ITransmitterService_GetCurrencyStock_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrencyStock" />
  </wsdl:message>
  <wsdl:message name="ITransmitterService_GetCurrencyStock_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrencyStockResponse" />
  </wsdl:message>
  <wsdl:message name="ITransmitterService_GetCurrencyDemands_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrencyDemands" />
  </wsdl:message>
  <wsdl:message name="ITransmitterService_GetCurrencyDemands_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrencyDemandsResponse" />
  </wsdl:message>
  <wsdl:message name="ITransmitterService_InitializeNukeDialog_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:InitializeNukeDialog" />
  </wsdl:message>
  <wsdl:message name="ITransmitterService_UpdateNukeDialog_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UpdateNukeDialog" />
  </wsdl:message>
  <wsdl:message name="ITransmitterService_SendNews_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SendNews" />
  </wsdl:message>
  <wsdl:message name="ITransmitterService_UpdateClient_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UpdateClient" />
  </wsdl:message>
  <wsdl:message name="ITransmitterService_SendDip_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SendDip" />
  </wsdl:message>
  <wsdl:message name="ITransmitterService_SendContracts_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SendContracts" />
  </wsdl:message>
  <wsdl:portType name="ITransmitterService">
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransmitterService/Register" message="tns:ITransmitterService_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransmitterService/RegisterResponse" message="tns:ITransmitterService_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransmitterService/AddOrders" message="tns:ITransmitterService_AddOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransmitterService/AddOrdersResponse" message="tns:ITransmitterService_AddOrders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShootDownNuke">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransmitterService/ShootDownNuke" message="tns:ITransmitterService_ShootDownNuke_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransmitterService/ShootDownNukeResponse" message="tns:ITransmitterService_ShootDownNuke_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DipMsg">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransmitterService/DipMsg" message="tns:ITransmitterService_DipMsg_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransmitterService/DipMsgResponse" message="tns:ITransmitterService_DipMsg_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCountryData">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransmitterService/GetCountryData" message="tns:ITransmitterService_GetCountryData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransmitterService/GetCountryDataResponse" message="tns:ITransmitterService_GetCountryData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrencyStock">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransmitterService/GetCurrencyStock" message="tns:ITransmitterService_GetCurrencyStock_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransmitterService/GetCurrencyStockResponse" message="tns:ITransmitterService_GetCurrencyStock_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrencyDemands">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransmitterService/GetCurrencyDemands" message="tns:ITransmitterService_GetCurrencyDemands_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransmitterService/GetCurrencyDemandsResponse" message="tns:ITransmitterService_GetCurrencyDemands_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InitializeNukeDialog">
      <wsdl:output wsaw:Action="http://tempuri.org/ITransmitterService/InitializeNukeDialog" message="tns:ITransmitterService_InitializeNukeDialog_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateNukeDialog">
      <wsdl:output wsaw:Action="http://tempuri.org/ITransmitterService/UpdateNukeDialog" message="tns:ITransmitterService_UpdateNukeDialog_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendNews">
      <wsdl:output wsaw:Action="http://tempuri.org/ITransmitterService/SendNews" message="tns:ITransmitterService_SendNews_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateClient">
      <wsdl:output wsaw:Action="http://tempuri.org/ITransmitterService/UpdateClient" message="tns:ITransmitterService_UpdateClient_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendDip">
      <wsdl:output wsaw:Action="http://tempuri.org/ITransmitterService/SendDip" message="tns:ITransmitterService_SendDip_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendContracts">
      <wsdl:output wsaw:Action="http://tempuri.org/ITransmitterService/SendContracts" message="tns:ITransmitterService_SendContracts_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ITransmitterService" type="tns:ITransmitterService">
    <wsp:PolicyReference URI="#NetTcpBinding_ITransmitterService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Register">
      <soap12:operation soapAction="http://tempuri.org/ITransmitterService/Register" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddOrders">
      <soap12:operation soapAction="http://tempuri.org/ITransmitterService/AddOrders" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShootDownNuke">
      <soap12:operation soapAction="http://tempuri.org/ITransmitterService/ShootDownNuke" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DipMsg">
      <soap12:operation soapAction="http://tempuri.org/ITransmitterService/DipMsg" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountryData">
      <soap12:operation soapAction="http://tempuri.org/ITransmitterService/GetCountryData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrencyStock">
      <soap12:operation soapAction="http://tempuri.org/ITransmitterService/GetCurrencyStock" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrencyDemands">
      <soap12:operation soapAction="http://tempuri.org/ITransmitterService/GetCurrencyDemands" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InitializeNukeDialog">
      <soap12:operation soapAction="http://tempuri.org/ITransmitterService/InitializeNukeDialog" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateNukeDialog">
      <soap12:operation soapAction="http://tempuri.org/ITransmitterService/UpdateNukeDialog" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendNews">
      <soap12:operation soapAction="http://tempuri.org/ITransmitterService/SendNews" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateClient">
      <soap12:operation soapAction="http://tempuri.org/ITransmitterService/UpdateClient" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendDip">
      <soap12:operation soapAction="http://tempuri.org/ITransmitterService/SendDip" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendContracts">
      <soap12:operation soapAction="http://tempuri.org/ITransmitterService/SendContracts" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Transmitter">
    <wsdl:port name="NetTcpBinding_ITransmitterService" binding="tns:NetTcpBinding_ITransmitterService">
      <soap12:address location="net.tcp://192.168.43.136:10577/transmitter" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://192.168.43.136:10577/transmitter</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>