Totality.Client.ClientComponents/Service References/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Totality.Model" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Totality.Model.Diplomatical" />
  <xs:element name="Register">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="myName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrders">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Totality.Model" minOccurs="0" name="orders" nillable="true" type="q1:ArrayOfOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddOrdersResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShootDownNuke">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="defender" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="rocketId" type="q2:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShootDownNukeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ShootDownNukeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DipMsg">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Totality.Model.Diplomatical" minOccurs="0" name="msg" nillable="true" type="q3:DipMsg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DipMsgResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DipMsgResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountryData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountryDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Totality.Model" minOccurs="0" name="GetCountryDataResult" nillable="true" type="q4:Country" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitializeNukeDialog">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNukeDialog">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Totality.Model" minOccurs="0" name="rockets" nillable="true" type="q5:ArrayOfNukeRocket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendNews">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Totality.Model" minOccurs="0" name="newsList" nillable="true" type="q6:ArrayOfNews" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Totality.Model" minOccurs="0" name="country" nillable="true" type="q7:Country" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendDip">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Totality.Model.Diplomatical" minOccurs="0" name="msg" nillable="true" type="q8:DipMsg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendContracts">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Totality.Model.Diplomatical" minOccurs="0" name="contracts" nillable="true" type="q9:ArrayOfDipContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>