Totality.Client.ClientComponents/Service References/ServiceReference1/Totality.Model.Diplomatical.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Totality.Model.Diplomatical" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Totality.Model.Diplomatical" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="DipMsg">
    <xs:sequence>
      <xs:element minOccurs="0" name="Applied" type="xs:boolean" />
      <xs:element minOccurs="0" name="Count" type="xs:long" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="From" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Price" type="xs:long" />
      <xs:element minOccurs="0" name="Resource" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Time" type="xs:int" />
      <xs:element minOccurs="0" name="To" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" type="tns:DipMsg.Types" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DipMsg" nillable="true" type="tns:DipMsg" />
  <xs:simpleType name="DipMsg.Types">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Trade" />
      <xs:enumeration value="Peace" />
      <xs:enumeration value="Alliance" />
      <xs:enumeration value="CurrencyAlliance" />
      <xs:enumeration value="Transfer" />
      <xs:enumeration value="MilitaryTraining" />
      <xs:enumeration value="Other" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DipMsg.Types" nillable="true" type="tns:DipMsg.Types" />
  <xs:complexType name="ArrayOfDipContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DipContract" nillable="true" type="tns:DipContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDipContract" nillable="true" type="tns:ArrayOfDipContract" />
  <xs:complexType name="DipContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Broken" type="xs:boolean" />
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="From" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="IsFinished" type="xs:boolean" />
      <xs:element minOccurs="0" name="Price" type="xs:long" />
      <xs:element minOccurs="0" name="Res" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Time" type="xs:int" />
      <xs:element minOccurs="0" name="To" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" type="tns:DipMsg.Types" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DipContract" nillable="true" type="tns:DipContract" />
</xs:schema>