Totality.Client.ClientComponents/Service References/ServiceReference1/Totality.Model.Diplomatical.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Totality.Model.Diplomatical" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Totality.Model.Diplomatical" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DipMsg">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="DipMsg" nillable="true" type="tns:DipMsg" />
  <xs:complexType name="ArrayOfDipContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DipContract" nillable="true" type="tns:DipContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDipContract" nillable="true" type="tns:ArrayOfDipContract" />
  <xs:complexType name="DipContract">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="DipContract" nillable="true" type="tns:DipContract" />
</xs:schema>