Totality.Client.GUI/Service References/ReferenceToServer/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Totality.Model" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Totality.Model.Diplomatical" />
  <xs:element name="Register">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="myName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrders">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Totality.Model" minOccurs="0" name="orders" nillable="true" type="q1:ArrayOfOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddOrdersResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShootDownNuke">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ShootDownNukeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ShootDownNukeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DipMsg">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Totality.Model.Diplomatical" minOccurs="0" name="msg" nillable="true" type="q2:DipMsg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DipMsgResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DipMsgResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitializeNukeDialog">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNukeDialog">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Totality.Model" minOccurs="0" name="rockets" nillable="true" type="q3:ArrayOfNukeRocket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNews">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendDip">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Totality.Model.Diplomatical" minOccurs="0" name="msg" nillable="true" type="q4:DipMsg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>