Totality.Client.GUI/Service References/ReferenceToServer/Totality.Model.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Totality.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Totality.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Order" nillable="true" type="tns:Order" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrder" nillable="true" type="tns:ArrayOfOrder" />
  <xs:complexType name="Order">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="Order" nillable="true" type="tns:Order" />
  <xs:complexType name="ArrayOfNukeRocket">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NukeRocket" nillable="true" type="tns:NukeRocket" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNukeRocket" nillable="true" type="tns:ArrayOfNukeRocket" />
  <xs:complexType name="NukeRocket">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="NukeRocket" nillable="true" type="tns:NukeRocket" />
</xs:schema>